name: diligent-engine

on: [push]

env:
  BUILD_TYPE: Release

jobs:
  build-bionic:
    runs-on: ubuntu-18.04
    env: 
      DISTRO_CODENAME: bionic

    steps:
    - uses: actions/checkout@v2
      
    #- name: Install dependencies
      #run: sudo apt install mesa-common-dev libgl1-mesa-dev libeigen3-dev
     
#    - name: Create download folder
#      run: cmake -E make_directory ${{runner.workspace}}/downloads
    
    - name: Download diligent-engine debian
      uses: wei/wget@v1
      with:
        args: https://epicodic.github.io/releases/diligent-engine/diligent-engine-latest-bionic.deb
        
    - name: Install dependencies
      run: sudo apt install ./diligent-engine-latest-bionic.deb
     
